<a href="https://colab.research.google.com/github/gmelaku/Assignment1/blob/master/MP7_Extra_Credit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Extra Credit Problems

## EC1. Missing value estimation. 
Instead of removing missing values, replace each with
an average value of that column and perform classification. Missing values are denoted as “?”
in the input dataset files. Here, the change is only at Question-3 of the regular homework
Questions-1 to Question-7.

#a. 
Removing rows with >=2 missing values or by keeping rows with a single
missing value.

## Importing Dependencies and loading the data

In [0]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://www-us.apache.org/dist/spark/spark-2.4.5/spark-2.4.5-bin-hadoop2.7.tgz

# !tar -xvf /content/spark-2.4.5-bin-hadoop2.7.tgz
!tar -xvf  spark-2.4.5-bin-hadoop2.7.tgz
!pip install -q findspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.5-bin-hadoop2.7"

import findspark
findspark.init()

# Create a blank SparkContext
from pyspark import SparkContext
sc = SparkContext()

In [2]:
from google.colab import files
uploaded = files.upload()

Saving adult.csv to adult.csv

In [0]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [0]:
train = spark.read.csv('adult.csv', header = True,inferSchema = True)

## Convert Spark DF into Pandas DF

In [5]:
train_df = train.select("*").toPandas()
train_df.head()

   age          workclass  fnlwgt  ... hours-per-week         country  salary
0   39          State-gov   77516  ...             40   United-States   <=50K
1   50   Self-emp-not-inc   83311  ...             13   United-States   <=50K
2   38            Private  215646  ...             40   United-States   <=50K
3   53            Private  234721  ...             40   United-States   <=50K
4   28            Private  338409  ...             40            Cuba   <=50K

[5 rows x 15 columns]

Drop rows containing two or more than two missing values

In [12]:
train_df.dropna(axis=0, how='any', thresh=2, subset=None, inplace=False)

       age          workclass  fnlwgt  ... hours-per-week         country  salary
0       39          State-gov   77516  ...             40   United-States   <=50K
1       50   Self-emp-not-inc   83311  ...             13   United-States   <=50K
2       38            Private  215646  ...             40   United-States   <=50K
3       53            Private  234721  ...             40   United-States   <=50K
4       28            Private  338409  ...             40            Cuba   <=50K
...    ...                ...     ...  ...            ...             ...     ...
32556   27            Private  257302  ...             38   United-States   <=50K
32557   40            Private  154374  ...             40   United-States    >50K
32558   58            Private  151910  ...             40   United-States   <=50K
32559   22            Private  201490  ...             20   United-States   <=50K
32560   52       Self-emp-inc  287927  ...             40   United-States    >50K

[32561 rows x 15 columns]

Drop rows containing three or more than three missing values

In [13]:
train_df.dropna(axis=0, how='any', thresh=3, subset=None, inplace=False)

       age          workclass  fnlwgt  ... hours-per-week         country  salary
0       39          State-gov   77516  ...             40   United-States   <=50K
1       50   Self-emp-not-inc   83311  ...             13   United-States   <=50K
2       38            Private  215646  ...             40   United-States   <=50K
3       53            Private  234721  ...             40   United-States   <=50K
4       28            Private  338409  ...             40            Cuba   <=50K
...    ...                ...     ...  ...            ...             ...     ...
32556   27            Private  257302  ...             38   United-States   <=50K
32557   40            Private  154374  ...             40   United-States    >50K
32558   58            Private  151910  ...             40   United-States   <=50K
32559   22            Private  201490  ...             20   United-States   <=50K
32560   52       Self-emp-inc  287927  ...             40   United-States    >50K

[32561 rows x 15 columns]

# EC2. Gaussian Naïve Bayes. 
Repeat Questions 1 through 7 by using a Gaussian Naïve Bayes classifier for Question 5 instead of Logistic Regression.

In [0]:
import pandas as pd
import numpy as np

In [16]:
def handle_non_numerical_data(train_df):
  columns = train_df.columns.values
  for column in columns:
    text_digit_vals = {}
    def convert_to_int(val):
      return text_digit_vals[val]

    if train_df[column].dtype != np.int64 and train_df[column].dtype != np.float64:
      column_contents = train_df[column].values.tolist()
      unique_elements = set(column_contents)
      x = 0
      for unique in unique_elements:
        if unique not in text_digit_vals:
          text_digit_vals[unique] = x
          x+=1

      train_df[column] = list(map(convert_to_int, train_df[column]))

  return train_df

train_df = handle_non_numerical_data(train_df)
print(train_df.head())

   age  workclass  fnlwgt  ...  hours-per-week  country  salary
0   22          4    8010  ...              39       22       1
1   33          7   11820  ...              12       22       1
2   21          3   12679  ...              39       22       1
3   36          3    3602  ...              39       22       1
4   11          3    7158  ...              39       15       1

[5 rows x 15 columns]

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
X_train, X_test, y_train, y_test = train_test_split(train_df.drop('salary',axis=1), 
           train_df['salary'], test_size=0.30, 
            random_state=101)

In [19]:
model = GaussianNB()
model.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [0]:
Predictions = model.predict(X_test)

In [23]:
from sklearn.metrics import classification_report
print(classification_report(y_test,Predictions))

              precision    recall  f1-score   support

           0       0.58      0.63      0.61      2333
           1       0.88      0.86      0.87      7436

    accuracy                           0.80      9769
   macro avg       0.73      0.75      0.74      9769
weighted avg       0.81      0.80      0.81      9769